@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
:root{
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: var(--white);
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .images
{
    border-radius: 50%;
    
}
img.image 
{
    border-radius: 50%;
}
.container p.first_name
{
    color: var(--white);
    font-weight: bold;
}
.container p.first_name1
{
    color: black;
    font-weight: bold;
}
.container p.verified1
{
    color: black;
    opacity: 50%;
}
.container p.verified
{
    color: var(--white);
    opacity: 50%;
}
.container .daniel
{
    background-color: var(--moderate-violet);
    padding: 5%;
}
.container .jonathon
{
    background-color: var(--very-dark-grayish-blue);
}
.container .jeanette
{
    background-color: var(--white);
}
.container .patrick
{
    background-color: var(--very-dark-blackish-blue);
}
.container .kira
{
    background-color: var(--white);
}
/*Attributes*/
.attribution {
     font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}